html {
    font-family: "Poppins", sans-serif;
    color: #3E0F71;

}

body {
    margin: -1px;
}

h1 {
    margin-bottom: auto;
}

section {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 100px;

}

.card {
  /* Add shadows to create the "card" effect */
    width: 500px;
    height: 200px;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    padding: 50px;
    background-color: #EDA8FF;
    border-radius: 20px;
    /*padding:;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: 0.3s;

}

.card h1 {
    margin-top: 0px;
    font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#backButton {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 25px;
    font-weight: 400;
    width: 65px;
    height: 65px;
    border: 3px solid white;
    outline: none;
    color: white;
    background-color: #6B63D3;
    border-radius: 50px;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;

}

#backButton:hover {
  background-color: #FFD8FF;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.fade-left {
  animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
     opacity: 0;
     transform: translateX(200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

.fade-right {
  animation: fadeInRight 6s;
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(-200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

